* {
    margin:0
}

body {
  font-family: 'Bangers';font-size: 22px;
}

.header{
    height: 200px;
    font-size: 100px;
    text-align: center;
    overflow: hidden;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.first {
    height: 500px;
    width: 500px;
    display: inline;
    padding: 0 30px;
    position: relative;
    text-align: center;
}

nav{
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    height: 100px;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    margin-top: 40px;
  }

a:hover{
  color: rgb(129, 183, 75);
  }

  .welcome {
    border: solid black;
    height: 130px;
    width: 500px;
    margin-left: 35%;
  }

  #welcometext {
    text-align: center;
    margin: 50px;
  }

footer {
    height: 180px;
    border: solid black;
    background-color: grey;
  }

#footerfollow {
    text-align: right;
    margin: 10px 170px;
  }

  .social{
    margin-right: 140px;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-instagram {
    background: grey;
    color: white;
    float: right;
  }

  .fa-twitter {
    background: grey;
    color: white;
    float: right;
  }

  /* contact css */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  margin: 6px 0 16px;
  resize: vertical
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 280px;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 630px;
  transform: translate(-50%, -50%);
  color: white;
  padding-bottom: 10px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 50px;
  color: white;
}

.bottommid {
  position: absolute;
  bottom: 8px;
  right: 410px;
  color: white;
}